<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AcademicsPrograms</title>
    <link rel="stylesheet" href="component/styleShits/AcademicsPrograms.css">
</head>

<body>
    <div class="container">
        <div id="row-one">
            <h5 class="subHeading">Academics Programs</h5>
            <h1 class="meinHeading">Our Academics Programs</h1>
        </div>
        <div id="row-2">
            <div class="box">
                <div class="boxInnerBox"><img class="boxInnerBoxImg" src="assets/asset 17.jpeg" alt="">
                    <div class="boxInnerBoxSideImge"><img class="" src="assets/asset 18.png" alt=""></div>
                </div>
                <div class="deading">Undergraduate</div>
                <div class="discription">Online guitar coaching now offers you an approachable.</div>
                <a href="#" class="aplayNaw">Apply Now <i class="ri-arrow-right-line"></i></a>
            </div>
            <div class="box">
                <div class="boxInnerBox"><img class="boxInnerBoxImg" src="assets/asset 19.jpeg" alt="">
                    <div class="boxInnerBoxSideImge"><img class="" src="assets/asset 20.png" alt=""></div>
                </div>
                <div class="deading">PhD Program</div>
                <div class="discription">Online guitar coaching now offers you an approachable.</div>
                <a href="#" class="aplayNaw">Apply Now <i class="ri-arrow-right-line"></i></a>
            </div>
            <div class="box">
                <div class="boxInnerBox"><img class="boxInnerBoxImg" src="assets/asset 21.jpeg" alt="">
                    <div class="boxInnerBoxSideImge"><img class="" src="assets/asset 22.png" alt=""></div>
                </div>
                <div class="deading">Postgraduate</div>
                <div class="discription">Online guitar coaching now offers you an approachable.</div>
                <a href="#" class="aplayNaw">Apply Now <i class="ri-arrow-right-line"></i></a>
            </div>
            <div class="box">
                <div class="boxInnerBox"><img class="boxInnerBoxImg" src="assets/asset 23.jpeg" alt="">
                    <div class="boxInnerBoxSideImge"><img class="" src="assets/asset 24.png" alt=""></div>
                </div>
                <div class="deading">Continuing Education</div>
                <div class="discription">Online guitar coaching now offers you an approachable.</div>
                <a href="#" class="aplayNaw">Apply Now <i class="ri-arrow-right-line"></i></a>
            </div>
        </div>
    </div>
</body>

</html>