<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CampusInformation</title>
    <link rel="stylesheet" href="/component/styleShits/CampusInformation.css">
</head>

<body>
    <div id="CampusInformationContainer">
        <div class="top"">
            <div class=" backgroundImage"><img src="assets/asset 43.jpeg" alt=""></div>
        <div id="row-one">
            <h5 class="subHeading">Academics Programs</h5>
            <h1 class="meinHeading">Our Academics Programs</h1>

        </div>
        <div class="row-3">
            <div class="box">
                <img src="assets/asset 25.png" alt="">
                <div class="heading">Student Life</div>
                <div class="discription">The modified parameters will be pulled panel automatically education.</div>
            </div>
            <div class="box">
                <img src="assets/asset 26.png" alt="">
                <div class="heading">Arts & Clubs</div>
                <div class="discription">The modified parameters will be pulled panel automatically education.</div>
            </div>
            <div class="box">
                <img src="assets/asset 27.png" alt="">
                <div class="heading">Sports and Fitness</div>
                <div class="discription">The modified parameters will be pulled panel automatically education.</div>
            </div>
        </div>

    </div>

    <div class="bottom">
        <div class="row-4">
            <div class="row-4-part">
                <div class="row-4-partTop"> <samp id="totalStudents">10</samp>k<span
                        style="color: #296df4; font-weight: 100;">+</span></div>
                <div class="row-4-partBottom">Students worldwide</div>
            </div>
            <div class="row-4-part">
                <div class="row-4-part">
                    <div class="row-4-partTop"> <samp id="totalUniversity">45</samp>k<span
                            style="color: #296df4; font-weight: 100;">+</span></div>
                    <div class="row-4-partBottom">University worldwide</div>
                </div>
            </div>
            <div class="row-4-part">
                <div class="row-4-part">
                    <div class="row-4-partTop"> <samp id="totalAcademic">28</samp>k<span
                            style="color: #296df4; font-weight: 100;">+</span></div>
                    <div class="row-4-partBottom">Academic worldwide</div>
                </div>
            </div>
            <div class="row-4-part">
                <div class="row-4-part">
                    <div class="row-4-partTop"> <samp id="totalWorldwide">5</samp>k<span
                            style="color: #296df4; font-weight: 100;">+</span></div>
                    <div class="row-4-partBottom">Total worldwide</div>
                </div>
            </div>
        </div>
    </div>
    </div>

    </div>

    <script>
            // gsap.to("#CampusInformationContainer", {
            //     y: 200,
            //     scrollTrigger: {
            //         trigger: "#CampusInformationContainer", // element to be triggered
            //         start: "100% center",   // start of the trigger
            //         end: "10% center",  // end of the trigger
            //         markers: true,
            //         onEnter: function () {
            //             console.log("f");
            //         }
            //         // onEnter: function () {
            //         //     function numberAnimate() {
            //         //         alert()
            //         //         let totalStudents = null;
            //         //         let totalStudentsSetinterval = setInterval(function () {
            //         //             totalStudents++;
            //         //             document.getElementById("totalStudents").innerText = totalStudents
            //         //             if (totalStudents === 10) {
            //         //                 clearInterval(totalStudentsSetinterval)
            //         //             }
            //         //         }, 100);

            //         //         let totalUniversity = null;
            //         //         let totalUniversitySetinterval = setInterval(function () {
            //         //             totalUniversity++;
            //         //             document.getElementById("totalUniversity").innerText = totalUniversity
            //         //             if (totalUniversity === 45) {
            //         //                 clearInterval(totalUniversitySetinterval)
            //         //             }
            //         //         }, 50);
            //         //         let totalAcademic = null;
            //         //         let totalAcademicSetinterval = setInterval(function () {
            //         //             totalAcademic++;
            //         //             document.getElementById("totalAcademic").innerText = totalAcademic
            //         //             if (totalAcademic === 28) {
            //         //                 clearInterval(totalAcademicSetinterval)
            //         //             }
            //         //         }, 50);
            //         //         let totalWorldwide = null;
            //         //         let totalWorldwideSetinterval = setInterval(function () {
            //         //             totalWorldwide++;
            //         //             document.getElementById("totalWorldwide").innerText = totalWorldwide
            //         //             if (totalWorldwide === 5) {
            //         //                 clearInterval(totalWorldwideSetinterval)
            //         //             }
            //         //         }, 500);
            //         //     };

            //         //     numberAnimate()

            //         // }
            //     }
            // });

    </script>
</body>

</html>