<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="component/styleShits/FeaturedCourses.css">
</head>

<body>
    <div id="mein-container">
        <div id="row-one">
            <h5 class="subHeading">Featured Courses </h5>
            <h1 class="meinHeading">Choose Unlimited Option</h1>
        </div>

        <div id="row-2">
            <div class="box">
                <div class="top"><img src="assets/asset 11.jpeg" alt=""></div>
                <div class="bottom">
                    <div class="row-1">Environmental Sciences</div>
                    <div class="row-2 ">Effective Classroom <br> Management Techniques Job.</div>
                    <div class="row-3"> <span><i class="ri-user-line "></i> 0 Student</span> <span> <i
                                class="ri-star-line star"></i> ( 0 )</span> <span class="thirdSpan">&49.00 <img
                                src="assets/asset 4.jpeg" alt="" class="row-3-img"></span> </div>
                </div>
                <div class="box-inner">
                    <div class="bottom box-inner-container">
                        <div class="row-1">Environmental Sciences</div>
                        <div class="row-2 ">Effective Classroom <br> Management Techniques Job.</div>
                        <div class="courseDuration"><i class="ri-time-line"></i> 1  hour &nbsp;  <i class="ri-book-line"></i>  0 Lessones</div>
                        <div class="discription">Education is the process of acquiring knowledge, skills, values, and…
                        </div>
                        <div class="row-3"> <span><i class="ri-user-line "></i> 0 Student</span> <span> <i
                                    class="ri-star-line star"></i> ( 0 )</span> <span class="thirdSpan">&49.00 <img
                                    src="assets/asset 4.jpeg" alt="" class="row-3-img"></span>
                        </div>
                        <button class="btn">Preview this course</button>
                    </div>
                </div>

            </div>
            <div class="box">
                <div class="top"><img src="assets/asset 12.jpeg" alt=""></div>
                <div class="bottom">
                    <div class="row-1" style="color: #fd8b6e;">Digital Marketing</div>
                    <div class="row-2 ">Inclusive Education and <br> Special Needs Teaching</div>
                    <div class="row-3"> <span><i class="ri-user-line "></i> 0 Student</span> <span> <i
                                class="ri-star-line star"></i> ( 0 )</span> <span class="thirdSpan">&49.00 <img
                                src="assets/asset 4.jpeg" alt="" class="row-3-img"></span>
                    </div>
                </div>
                <div class="box-inner">
                    <div class="bottom box-inner-container">
                        <div class="row-1" style="color: #fd8b6e;">Digital Marketing</div>
                        <div class="row-2 ">Inclusive Education and <br> Special Needs Teaching</div>
                        <div class="courseDuration"><i class="ri-time-line"></i> 1  hour &nbsp;  <i class="ri-book-line"></i>  0 Lessones</div>
                        <div class="discription">Education is the process of acquiring knowledge, skills, values, and…
                        </div>
                        <div class="row-3"> <span><i class="ri-user-line "></i> 0 Student</span> <span> <i
                                    class="ri-star-line star"></i> ( 0 )</span> <span class="thirdSpan">&49.00 <img
                                    src="assets/asset 4.jpeg" alt="" class="row-3-img"></span>
                        </div>
                        <button class="btn">Preview this course</button>
                    </div>
                </div>

            </div>
            <div class="box">
                <div class="top"><img src="assets/asset 13.jpeg" alt=""></div>
                <div class="bottom">
                    <div class="row-1" style="color: #f01e78;">History and Culture</div>
                    <div class="row-2 ">Foundations of Early Childhood<br> Education Skill</div>
                    <div class="row-3"> <span><i class="ri-user-line "></i> 0 Student</span> <span> <i
                                class="ri-star-line star"></i> ( 0 )</span> <span class="thirdSpan">&49.00 <img
                                src="assets/asset 4.jpeg" alt="" class="row-3-img"></span> </div>
                </div>
                <div class="box-inner">
                    <div class="bottom box-inner-container">
                        <div class="row-1" style="color: #f01e78;">History and Culture</div>
                        <div class="row-2 ">Foundations of Early Childhood<br> Education Skill</div>
                        <div class="courseDuration"><i class="ri-time-line"></i> 1  hour &nbsp;  <i class="ri-book-line"></i>  0 Lessones</div>
                        <div class="discription">Education is the process of acquiring knowledge, skills, values, and…
                        </div>
                        <div class="row-3"> <span><i class="ri-user-line "></i> 0 Student</span> <span> <i
                                    class="ri-star-line star"></i> ( 0 )</span> <span class="thirdSpan">&49.00 <img
                                    src="assets/asset 4.jpeg" alt="" class="row-3-img"></span>
                        </div>
                        <button class="btn">Preview this course</button>
                    </div>
                </div>

            </div>
            <div class="box">
                <div class="top"><img src="assets/asset 14.jpeg" alt=""></div>
                <div class="bottom">
                    <div class="row-1">Data Science & Analytics</div>
                    <div class="row-2 ">Personal Finance Financial<br> Security learn the Thinking</div>
                    <div class="row-3"> <span><i class="ri-user-line "></i> 0 Student</span> <span> <i
                                class="ri-star-line star"></i> ( 0 )</span> <span class="thirdSpan">&49.00 <img
                                src="assets/asset 4.jpeg" alt="" class="row-3-img"></span> </div>
                </div>
                <div class="box-inner">
                    <div class="bottom box-inner-container">
                        <div class="row-1">Data Science & Analytics</div>
                        <div class="row-2 ">Personal Finance Financial<br> Security learn the Thinking</div>
                        <div class="courseDuration"><i class="ri-time-line"></i> 1  hour &nbsp;  <i class="ri-book-line"></i>  0 Lessones</div>
                        <div class="discription">Education is the process of acquiring knowledge, skills, values, and…
                        </div>
                        <div class="row-3"> <span><i class="ri-user-line "></i> 0 Student</span> <span> <i
                                    class="ri-star-line star"></i> ( 0 )</span> <span class="thirdSpan">&49.00 <img
                                    src="assets/asset 4.jpeg" alt="" class="row-3-img"></span>
                        </div>
                        <button class="btn">Preview this course</button>
                    </div>
                </div>

            </div>
            <div class="box">
                <div class="top"><img src="assets/asset 15.jpeg" alt=""></div>
                <div class="bottom">
                    <div class="row-1" style="color: #1caa7c;">Data Science & Analytics</div>
                    <div class="row-2 ">Master Query in a Short Period<br> of learn the skills Time</div>
                    <div class="row-3"> <span><i class="ri-user-line "></i> 0 Student</span> <span> <i
                                class="ri-star-line star"></i> ( 0 )</span> <span class="thirdSpan">&49.00 <img
                                src="assets/asset 4.jpeg" alt="" class="row-3-img"></span> </div>
                </div>
                <div class="box-inner">
                    <div class="bottom box-inner-container">
                        <div class="row-1" style="color: #1caa7c;">Data Science & Analytics</div>
                        <div class="row-2 ">Master Query in a Short Period<br> of learn the skills Time</div>
                        <div class="courseDuration"><i class="ri-time-line"></i> 1  hour &nbsp;  <i class="ri-book-line"></i>  0 Lessones</div>
                        <div class="discription">Education is the process of acquiring knowledge, skills, values, and…
                        </div>
                        <div class="row-3"> <span><i class="ri-user-line "></i> 0 Student</span> <span> <i
                                    class="ri-star-line star"></i> ( 0 )</span> <span class="thirdSpan">&49.00 <img
                                    src="assets/asset 4.jpeg" alt="" class="row-3-img"></span>
                        </div>
                        <button class="btn">Preview this course</button>
                    </div>
                </div>

            </div>
            <div class="box">
                <div class="top"><img src="assets/asset 15.jpeg" alt=""></div>
                <div class="bottom">
                    <div class="row-1" style="color: #121715; opacity: .7;">Cybersecurity</div>
                    <div class="row-2 ">Academic Listening and Note<br> taking learn the skills</div>
                    <div class="row-3"> <span><i class="ri-user-line "></i> 0 Student</span> <span> <i
                                class="ri-star-line star"></i> ( 0 )</span> <span class="thirdSpan">&49.00 <img
                                src="assets/asset 4.jpeg" alt="" class="row-3-img"></span> </div>
                </div>
                <div class="box-inner">
                    <div class="bottom box-inner-container">
                        <div class="row-1">Cybersecurity</div>
                        <div class="row-2 ">Academic Listening and Note<br> taking learn the skills</div>
                        <div class="courseDuration"><i class="ri-time-line"></i> 1  hour &nbsp;  <i class="ri-book-line"></i>  0 Lessones</div>
                        <div class="discription">Education is the process of acquiring knowledge, skills, values, and…
                        </div>
                        <div class="row-3"> <span><i class="ri-user-line "></i> 0 Student</span> <span> <i
                                    class="ri-star-line star"></i> ( 0 )</span> <span class="thirdSpan">&49.00 <img
                                    src="assets/asset 4.jpeg" alt="" class="row-3-img"></span>
                        </div>
                        <button class="btn">Preview this course</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>

</html>