<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event</title>
    <link rel="stylesheet" href="component/styleShits/upComingEvent.css">
</head>

<body>
    <div class="container">
        <div class="inner">
            <div class="left">
                <h1 class="heading">Join our <br> Upcoming Events</h1>
                <p class="discription">Learning is a life-long journey that in fact we never find the terminate stop.
                </p>
                <div class="eventBox">
                    <div class="eventBoxLeft">
                        <div class="eventBoxLeftTop">10</div>
                        <p class="eventBoxLeftBottom">Apr, 2023</p>
                    </div>
                    <div class="eventBoxRight">
                        <div class="eventBoxRightTop"><i class="ri-time-line"></i> 02:30:am to 04:25:pm &nbsp <i
                                class="ri-map-pin-line"></i> New York</div>
                        <div class="eventBoxRightBottom">Global Conference for reducing.</div>
                    </div>

                    <a href="#"> <button class="ticketsbtn">Tickets &nbsp; <i class="ri-arrow-right-line"></i></button></a>
                </div>
                <div class="eventBox">
                    <div class="eventBoxLeft">
                        <div class="eventBoxLeftTop">19</div>
                        <p class="eventBoxLeftBottom">Apr, 2023</p>
                    </div>
                    <div class="eventBoxRight">
                        <div class="eventBoxRightTop"><i class="ri-time-line"></i> 02:30:am to 04:25:pm &nbsp <i
                                class="ri-map-pin-line"></i> New York</div>
                        <div class="eventBoxRightBottom">Street Performance Call for</div>
                    </div>

                    <a href="#"> <button class="ticketsbtn">Tickets &nbsp; <i class="ri-arrow-right-line"></i></button></a>
                </div>
                <div class="eventBox">
                    <div class="eventBoxLeft">
                        <div class="eventBoxLeftTop">8</div>
                        <p class="eventBoxLeftBottom">Apr, 2023</p>
                    </div>
                    <div class="eventBoxRight">
                        <div class="eventBoxRightTop"><i class="ri-time-line"></i> 02:30:am to 04:25:pm &nbsp <i
                                class="ri-map-pin-line"></i> New York</div>
                        <div class="eventBoxRightBottom">Free Online Courses from

                        </div>
                    </div>
                    <a href="#"> <button class="ticketsbtn">Tickets &nbsp; <i class="ri-arrow-right-line"></i></button></a>
                </div>
                <div class="bottom">
                    <div class="leftPart">Lorem ipsum dolor sit amet, consectetur adall.</div>
                    <div class="rightPart"> <a href="#">View All Event <i class="ri-arrow-right-line"></i></a></div>
                </div>
            </div>
            <div class="right">
                <img src="assets/asset 42.jpeg" alt="">
                <div id="play">
                    <div class="wev">
                    </div>
                    <div class="innerMein"><i class="ri-play-mini-fill"></i></div>
                </div>
            </div>
        </div>
    </div>
    <script>
    </script>
</body>

</html>