* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 1.4rem;
    text-rendering: optimizeLegibility;
    text-decoration: none;
}

html,
body a {
    text-decoration: none;
}

.blogContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    #row-one {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .subHeading {
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            color: #296df4;
        }

        .meinHeading {
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 10px;
            font-size: 40px;
        }
    }

    .row-2 {
        width: 100%;
        height: 50vh;
        margin-top: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        .box {
            width: 300px;
            height: 350px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            overflow: hidden;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            .top {
                width: 100%;
                height: 50%;

            }

            .top img {
                width: 100%;
                height: 100%;
                object-fit: cover;

            }

            .bottom {
                width: 100%;
                height: 50%;
                padding: 30px;

                .date {
                    font-size: 12px;
                    font-family: roboto;
                    font-weight: 100;

                }

                .heading {
                    font-size: 20px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: bold;
                    text-decoration: none;
                    margin-top: 20px;
                    color: #141010;
                    transition: all .4s linear;
                }

                .heading:hover {
                    color: #296df4;
                }

                .row-3 {
                    width: 100%;
                    height: 20px;
                    font-size: 13px;
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: #705a5c;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }
        }
    }

    .button {
        padding: 15px 30px;
        border: 1px solid #296df4;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        cursor: pointer;
        transition: all .4s linear;
        font-weight: bold;
    }

    .button:hover {
        background-color: #296df4;
        color: #fff;
    }
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
 font-size: 1.4rem;
 text-rendering: optimizeLegibility;
text-decoration: none;
}
html , body a{
text-decoration: none;
}