* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 1.4rem;
    text-rendering: optimizeLegibility;
}

#mein-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;

    #row-one {
        width: 100%;
        height: 80px;
        padding-top: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .subHeading {
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            color: #296df4;
        }

        .meinHeading {
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 10px;
            font-size: 40px;
        }
    }

    #row-2 {
        width: 100%;
        height: 33%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 80px;
        gap: 30px;
        flex-wrap: wrap;
        padding: 30px;

        .box {
            width: 280px;
            height: 300px;
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.212) 0px 0px 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 15px;
            font-family: roboto;
            transition: all .3s;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            .top {
                width: 100%;
                height: 50%;
                background-color: #296df4;

            }

            .top img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .bottom {
                width: 100%;
                height: 50%;
                padding: 0px 20px;

                .row-1 {
                    display: inline-block;
                    font-size: 10px;
                    color: #296df4;
                    background-color: #ebe5f6;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                    padding: 2px 15px;
                }

                .row-2 {
                    margin-top: 10px;
                    font-size: 17px;
                    font-family: roboto;
                    font-weight: bold;
                    /* width: 200px; */
                    line-height: 1.3;
                    position: relative;


                }

                .row-3 {
                    font-size: 13px;
                    gap: 10px;
                    margin-top: 25px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .star {
                        background-color: rgb(251, 251, 210);
                        padding: 5px;
                        border-radius: 50px;
                        -webkit-border-radius: 50px;
                        -moz-border-radius: 50px;
                        -ms-border-radius: 50px;
                        -o-border-radius: 50px;
                        color: rgb(169, 169, 44);
                    }

                    .thirdSpan {
                        display: flex;
                        gap: 10px;
                        font-weight: bolder;
                        opacity: .7;
                    }

                    .row-3-img {
                        width: 15px;
                        border-radius: 50px;
                        -webkit-border-radius: 50px;
                        -moz-border-radius: 50px;
                        -ms-border-radius: 50px;
                        -o-border-radius: 50px;
                    }

                    ;

                }
            }



        }



        .box-inner {
            position: absolute;
            background-color: #ffffff;
            width: 100%;
            height: 100%;
            top: 30px;
            transition: all .4s;
            -webkit-transition: all .4s;
            -moz-transition: all .4s;
            -ms-transition: all .4s;
            -o-transition: all .4s;
            opacity: 0;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            padding-top: 10px;

            .box-inner-container {
                height: 100%;

                .courseDuration {
                    font-size: 14px;
                    margin-top: 20px;
                }

                .discription {
                    font-size: 13px;
                    margin-top: 30px;
                    opacity: .7;
                }

                .btn {
                    margin-top: 20px;
                    margin-right: 20px;
                    color: #ebe5f6;
                    background-color: #296df4;
                    border: none;
                    width: 100%;
                    height: 40px;
                    border-radius: 30px;
                    -webkit-border-radius: 30px;
                    -moz-border-radius: 30px;
                    -ms-border-radius: 30px;
                    -o-border-radius: 30px;
                    font-size: 15px;
                    cursor: pointer;
                    transition: all .3s;
                    -webkit-transition: all .3s;
                    -moz-transition: all .3s;
                    -ms-transition: all .3s;
                    -o-transition: all .3s;
                }

                .btn:hover {
                    border: 2px solid #296df4;
                    color: #296df4;
                    background-color: transparent;
                }
            }

        }

        .box:hover .box-inner {
            top: 0;
            opacity: 1;
            /* visibility: visible; */
        }
    }
}